/* 
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap'); */

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    color: white;
    font-family: 'Hind', sans-serif;
    position: sticky;
    top:0;
    height: 10vh;
}

nav ul li{
    display: inline-block;
    margin: 1rem 2rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:active{
    color: green;
}

.logo{
    margin: 10px 40px;
    font-size: 1.8rem;
    font-family: 'Hind', sans-serif;
}

footer{
    background-color: red;
    position:fixed;
    bottom:0;
    width: 100%;
   height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Hind', sans-serif;
    
}

.quote{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
   line-height: 60px;
   font-family: 'Hind', sans-serif;
   margin: 0 5rem;
   text-align: center;
}

.button {
   color:white;
   display: block;
   margin: auto;
   padding: 15px 10px;
   background-color: red;
   border-radius: 20px;
   border: none;
   font-family: 'Hind', sans-serif;
   font-size: larger;
   

  }
  .selected a{
   position: relative;
   
  }
  
  .selected a::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom:0px;
    left:0;
    border-radius: 10px;
    
    background-color: white;
  }
  
  

  .listheading{
    color: red;
    text-align: center;
    font-size: 2rem;
    display: block;
    height:5vh;
  }
  
  .todoform{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .button2{
    color:white;
   padding: 15px 8px;
   background-color: red;
   border-radius: 20px;
   border: none;
   font-family: 'Hind', sans-serif;
   
   margin: 20px 0 30px 0;
   
  }

  .items{
    font-size: 1.4rem;
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 15px;
    box-shadow: 1px 2px 20px red;
    color: red;
    font-family: 'Hind', sans-serif;

  }

  .items2{
    caret-color: red;
    border: none;
    
  }

  @media (max-width:500px){
    nav ul li{
      margin: 0.7rem;
      font-size: 15px;
    }
    .logo{
      margin: 10px;
    font-size: 1.2rem;
    }
    .quote{
      font-size: 1rem;
    }
    .button{
      padding: 10px 8px;
      margin: 10px;
      position: absolute;
      bottom:50px;
    }
    .listheading{
      font-size: 1.3rem;
      margin-top: 50px;
    }
    .items{
      width: 90%;
      font-size: 1rem;
    }
    .quote{
      font-size:0.5rem;
      line-height: normal;
    }
  }
